<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="angular.min.js"></script>
	<script>
		var app=angular.module("my",[]);
		app.controller("demo",function($scope,demofac){
          $scope.x="";
          $scope.y="";
          $scope.getsum=function(){
          	$scope.res=demofac.sum(parseInt($scope.x),parseInt($scope.y));
          	
          }
		});
		app.factory("demofac",function(){
			var obj={};
			obj.sum=function(x,y){
				var z=x+y;
				return z;
			}
			obj.min=function(x,y){
				var z=x-y;
				return z;
			}
			return obj;
		})

	</script>
</head>
<body ng-app="my" ng-controller="demo">
	1st-
	<input type="number" ng-model="x">
    <br>
	2nd-
	<input type="number" ng-model="y">
	<br>
	<input type="submit" value="+" ng-click="getsum()">
	<button ng-click="min()">-</button>
	return-{{res}}
</body>
</html>