<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
<script src="angular.min.js"></script>
<script>
	var obj=angular.module("myApp",[]);
	obj.controller("DemoController",
		function($scope,DemoService){
            $scope.a="";
            $scope.b="";
            $scope.result="";
        $scope.getsumresult=function(){
        	var n=DemoService.sum(($scope.a),($scope.b));
        	$scope.result=n;
        };

	});
	/*service*/
    obj.service("DemoService",
    	function(){
          this.sum=function(x,y)
          {
          	var z=x+y;
          	return z;
          };
    });

</script>
</head>
<body ng-app="myApp">
	 <div ng-controller="DemoController">
	 	First name:
	 	<input type="text" ng-model="a"><br/>
	 	sec name:
	 	<input type="text" ng-model="b"><br/>
	 	<input type="button" ng-click="getsumresult()" value="click">
	 	<p>Result:{{result}}</p>
	 </div>
</body>
</html>