<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script src="angular.min.js"></script>
	<script>
		var app=angular.module("my",[]);
		app.controller("demo",function($scope,demoser){
			$scope.x=
			[
                  {fname:"sai",lname:"ram"},
                  {fname:"rai",lname:"om"},
                  {fname:"hari",lname:"jai"}
			];
			
			$scope.add=function(x,y){
                 var n=demoser.sum(x,y);
                 $scope.res=n;
			}
		});
		app.service("demoser",function(){
			this.sum=function(x,y){
				var z=x+y;
				return z;
			}
		});
	</script>
</head>
<body ng-app="my" ng-controller="demo">
	<table border="">
		<tr>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Buttons</th>
		</tr>
		<tr ng-repeat="item in x">
			<td>{{item.fname}}</td>
			<td>{{item.lname}}</td>
			<td><button ng-click="add(item.fname,item.lname)">Add</button></td>
		</tr>
		<tr>
			<td>Result</td>
			<td>{{res}}</td>
		</tr>
	</table>
</body>
</html>