<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="my.js"></script>

  </head>
  <body ng-app="myApp">
    <h2 style="color:teal;font-size:30px; text-align:center;">CRUD APP EXAMPLE</h2>
    <div class="container" ng-controller="Democtrl">
      <form class="well">
        <input type="text" placeholder="name" ng-model="newContact.name">
        <input type="text" placeholder="number" ng-model="newContact.number">
        <input type="text" placeholder="city" ng-model="newContact.city">
        <button type="button" class="btn btn-success" ng-click="saveContact()">Save</button>
      </form>
      <form class="well">
        Search:-<input type="text" placeholder="Search" ng-model="search.name">
      </form>
      <table style="border:2;width:500px;" class="well">
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>City</th>
        </tr>
        <tr ng-repeat="contact in contacts | filter:search;">
          <td>{{contact.name}}</td>
          <td>{{contact.number}}</td>
          <td>{{contact.city}}</td>
          <td><button type="button" class="btn btn-danger" ng-click="deletContact()">Delet</button></td>
          <td><button type="button" class="btn btn-primary" ng-click="edit()">Edit</button></td>
          
        </tr>
      </table>
    </div>




















    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>